<ion-view view-title="Add Land">
    <ion-content class="padding">
        <div class="row">
            <div class="col col-10">
                <button class="ion-ios-arrow-back btn-transparent" ng-click="addLand.cancel()"></button>
            </div>
            <div class="col col-90">
                <h2>Agregar</h2>
            </div>
        </div>
        <form name="addLandForm" class="addLand-form">
            <div class="list">
                <label class="item item-input" ng-class="{ 'has-errors' : addLandForm.name.$invalid &&
                signupForm.fullname.$dirty, 'no-errors' : addLandForm.fullname.$valid}">
                    <span class="input-label">Nombre</span>
                    <input type="text" name="name" ng-model="addLand.land.name" ng-minlength="5" ng-maxlength="50"
                  required class="primaryInput">
                </label>
                <div class="error-container" ng-show="addLandForm.name.$error &&
                addLandForm.name.$dirty" ng-messages="addLandForm.name.$error">
                    <div ng-messages-include="{{addLand.errorTemplate}}"></div>
                </div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Provincia
                    </div>
                    <select name="mySelect" id="mySelect"
                    ng-options="place.name for place in addLand.places"
                    ng-model="addLand.land.place"></select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Cantón
                    </div>
                    <select name="mySelect2" id="mySelect2"
                    ng-options="canton.name for canton in addLand.land.place.cantons"
                    ng-model="addLand.land.canton"></select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Distrito
                    </div>
                     <select name="mySelect2" id="mySelect2"
                    ng-options="district.name for district in addLand.land.canton.districts"
                    ng-model="addLand.land.district"></select>
                </label>
            <button class="primaryButton" ng-disabled="addLandForm.$invalid"
            ng-class="{ 'disabled' : addLandForm.$invalid}">
                Guardar
            </button>
        </form>

    </ion-content>
</ion-view>
