<ion-view name="login-view" class="login">
    <ion-content class="padding ">
        <div class="logo-div">
            <img src="img/ReTreeLogo.png" alt="ReTree Logo" width="60%"/>
        </div>
        <form name="loginForm">
                <div class="input-div">
                    <input type="text" placeholder="Usuario" ng-model="login.credentials.username" class="primaryInput" required>
                </div>
                <div class="input-div">
                    <input type="password" placeholder="Contraseña" ng-model="login.credentials.password" class="primaryInput" required>
                </div>
        </form>

        <div class="row">
            <div class="col col-50">
                <button class="primaryButton" ng-click="login.login(login.credentials)" ng-disabled="loginForm.$invalid">Ingresar</button>
            </div>
            <div class="col col-50">
                <button class="primaryButton" ng-click="login.signup()">Registrarse</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col col-33">
                <button type="submit" style="border: 0; background: transparent">
                    <img src="./img/facebook.png" alt="Facebook" width="75%"/>
                </button>
            </div>
            <div class="col col-33">
                <button type="submit" style="border: 0; background: transparent">
                    <img src="./img/twitter.png" alt="Twitter" width="75%"/>
                </button>
            </div>
            <div class="col col-33">
                <button type="submit" style="border: 0; background: transparent">
                    <img src="./img/google.png" alt="Google" width="75%"/>
                </button>
            </div>
        </div>

    </ion-content>
</ion-view>
