@charset "UTF-8";

@import
  //base
'base/_variables',
//feature
'features/_login',
'features/_signup',
'features/_lands',
'features/_addLand',
'features/_tabs';

.primaryInput {
    font-family: "Roboto", sans-serif;
    width: 100%;
    border: 0;
    box-sizing: border-box;
    font-size: 16px !important;
    height: 60px !important;
    padding: 10px !important;
    margin-bottom: 15px;
}

.input-div{
    width: 100%;
    padding: 10px;
}

.primaryButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: $primary-color;
  width: 100%;
  height: 60px;
  border: 0;
  padding: 15px;
  color: $white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  &:hover,&:active,&:focus{
       background: $secondary-color;
  }
}

.btn-transparent{
    background-color: transparent;
    border: 0;
    font-size: 28px;
}

.error-container {
  margin: 5px 0;
}

.error-container:last-child {
    margin: 5px 0 0;
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 14px;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

.disabled {
  opacity: 0.5;
}

.center{
    text-align: center;
}
