<ion-view view-title="Add Land">
    <ion-content class="padding">
        <div class="row">
            <div class="col col-10">
                <button class="ion-ios-arrow-back btn-transparent" ng-click="addLand.cancel()"></button>
            </div>
            <div class="col col-90">
                <h2>Agregar</h2>
            </div>
        </div>
        <form name="addLandForm" class="signup-form">
            <div class="list">
                <label class="item item-input" ng-class="{ 'has-errors' : addLandForm.name.$invalid &&
                signupForm.fullname.$dirty, 'no-errors' : signupForm.fullname.$valid}">
                    <span class="input-label">Nombre</span>
                    <input type="text" name="name" ng-model="signup.user.name" ng-minlength="5" ng-maxlength="50"
                  required class="primaryInput">
                </label>
                <div class="error-container" ng-show="addLandForm.name.$error &&
                addLandForm.name.$dirty" ng-messages="addLandForm.name.$error">
                    <div ng-messages-include="{{addLand.errorTemplate}}"></div>
                </div>


            <button class="primaryButton" ng-click="signup.signup(signup.user)" ng-disabled="signupForm.$invalid"
            ng-class="{ 'disabled' : signupForm.$invalid}">
                Guardar
            </button>
        </form>

    </ion-content>
</ion-view>
